.about-title {
    font-size: 30px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 300;
    margin-left: 6%;
    margin-top: 6%;
}

.all-people {
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: space-evenly;
    margin-top: 4%;
}

.about-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(230, 232, 217, 0.3);
}


.picture {
    width: 250px;
    height: 150px;
    margin-top: 6%;
    margin-left: 2%;
}

.person {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 300;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.social-links {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 2%;
    margin-left: 8%;
    text-decoration: none;
}

.github1 {
    margin-top: 1%;
    /* margin-left: 6%; */
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: black;
    margin-left: -25%;
}


.linkedin1 {
    margin-top: 1%;
    margin-left: 15%;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: black;
}

.description {
    display: flex;
    justify-content: center;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 300;
}