.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100vh;
    background-color: #070707;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    /* padding-left: 10%; */
    padding-top: 2%;
}

  

  
  
  
  
  
  