.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
}

.NavBar button {
    height: 20px;
}

.links-nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.links-auth {
    width: 100%;
    /* display: flex; */
    /* justify-content: flex-end; */
    display: flex;
    justify-content: center;
    z-index: 1;
}

.links-auth-container {
    /* margin-right: 20%; */
    z-index: 1;
    margin-top: 2%;
    display: flex;
    justify-content: center;

}

.link1-auth {
    text-decoration: none;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: black;
    font-weight: 250;
}

.link2-auth {
    text-decoration: none;
    padding-left: 2%;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: black;
    font-weight: 250;
}

.about-link {
    text-decoration: none;
    padding-left: 2%;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: black;
    font-weight: 250;
}

.profile {
    text-decoration: none;
    padding-left: 2%;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: black;
    font-weight: 250;
    z-index: 999;
}


.links-user-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.links-user {
    display: flex;
    justify-content: center;
}

.profile2 {
    padding-left: 80%;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: black;
    font-weight: 250;
    text-decoration: none;
    z-index: 999;
}