.user-name {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: bolder;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-top: 2%;
}

.new-event-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 200;
    /* margin-bottom: 20%; */
    border: 3px;
    border-radius: 1%;
    border-color: white;
}

.create-event-link {
    border: 3px;
    border-radius: 1%;
    border-color: white;
    margin-bottom: 10%;
}

.side-bar-title {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 200;
    margin-bottom: 10%;
    /* margin-right: 8%; */
}

.event-sidebar-container {
    width: 200px;
    height: 50px;
    background-color: rgb(113, 146, 182);
    padding: 10px;
    margin-left: 6%;
}

.event-name {
    margin-left: 8%;
    margin-top: 7%;
    color: white;
}

.event-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 200;
    margin-bottom: 20%;

}

.bigger-container {
    width: 250px;
    height: 70px;
    background-color: white;
    padding: 20px;
}

.side-bar-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 6%;
}