.main-page-full-calendar {
    width: 90vw;
    display: flex;
    flex-direction: column;
}

.event-show-event-name {
    font-size: 50px !important;
    text-align: center;
    margin-top: 30px;
}

.event-show-container {
    display: flex;
    flex-direction: column;
}


.left-header-div {
    width: 200px;
}
.event-show-header {
    display: flex;
    justify-content: space-evenly;
}

.event-show-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* overflow-y: scroll; */
    height: 77vh;
}
.create-event-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 100px; */
    height: 90vh;
}

.chat-box {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.event-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 650px;
    margin-top: -5%;
    margin: 10px;
}

.event-form-title {
    font-size: 40px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 300px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.event-form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6%;
}

.event-page-title {
    font-size: 45px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    /* font-weight: 200px; */
    margin-top: 4%;
    margin-left: 4%;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.event-index-create-event {
    font-size: 45px;
    line-height: 120%;
    font-weight: 300;
    margin-left: 50px;
    color: black;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.upcoming-events-title {
    color: white;
}


.event-index-container {
    margin-left: 20%;
    margin-top: 6%;
    width: 550px;
    height: 500px;
    background-color: rgba(232, 225, 217, 0.3);
    padding: 10px;
    border-radius: 10%;
}

.main-page-calendar-header {
    background-color: rgb(230, 99, 99);
    margin-left: 50px;
    margin-top: 125px;
    padding: 5px 0px 5px 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
    z-index: 1;
    width: 90vw;
}

.main-page-calendar-footer {
    background-color: lightgreen;
    margin-left: 50px;
    width: 90vw;
    padding: 5px 0px 5px 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.event-index-input {
    font-size: 30px;
    line-height: 120%;
    font-weight: 200;
    color: black;
    /* border-bottom: 5px solid black; */
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.event-edit-delete-buttons {
    margin-right: 30px;
}

.event-index-info {
    display: flex;
    flex-direction: column;
}

.event-title-info {
    text-decoration: none;
    background-color: white;
    color: black;
    display:block;
    width: 100%;
}

.event-positioning {
    width: 90vw;
    margin-left: 50px;
}

.event-index-input:hover {
    background-color: lightgrey;
}

.event-index-info:hover {
    text-decoration: underline;
}

.clicked-button {
    background-color: rgb(108, 192, 203);
}

.chat-gpt-submit {
    background-color: lightgreen;
    margin: 0px;
}

.chat-gpt-form {
    text-align: center;
}

.left-button {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100px;
    margin: 0px;
}

.right-button {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100px;
    margin: 0px;
}

.hidden {
    display: none;
}

.chat-result-button {
    margin: 0px;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
}

.chat-result-buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.chat-result-button:hover {
    background-color: rgb(108, 192, 203);
}

.chat-subheading {
    padding: 5px;
}

.availability-subheader {
    padding-right: 10px;
}

.edit-del-button {
    display: flex;
    font-size: 20px;
    gap: 10px;
}

.edit-button {
    text-decoration: none;
    color: black;
    padding: 3px 10px;
}

.edit-button:hover {
    background-color: rgb(161, 161, 161);
    border-radius: 20px;
}

.delete-button {
    padding: 3px 10px;
    padding-top: 6px;
}
.delete-button:hover {
    background-color: rgb(161, 161, 161);
    border-radius: 20px;
    cursor: pointer;
}

.copy-button {
    cursor: pointer;
    font-size: 16px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 300;
    border-radius: 10%;
    text-align: center;
    border-color: none;
    background-color: transparent;
    width: 100px;
    margin-left: 25%;
}

.copy-button:hover {
    font-weight: 400;
}
.copy-message{
    width: 120px;
    margin-bottom: 4%;
    margin-left: 25%;
}

.copy-container {
    /* margin-left: 80%; */
    width: 200px;
    height: 100px;
    background-color: rgb(196,212,233);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.circles-and-rings {
    position: absolute;
    z-index: 100;
    width: 90vw;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

.rings {
    display: flex;
    justify-content: space-around;
}

.circles {
    display: flex;
    justify-content: space-around;
}

.ring {
    width: 100px;
    height: 100px;
    border: 10px solid rgb(104, 104, 104); 
    border-radius: 50%;
    border-bottom-color: transparent;
    transform: rotate(325deg);
    z-index: 1;
}

.circle {
    transform: translate(-50%, -50%);
    width: 25px; 
    height: 25px; 
    background-color: white;
    border-radius: 50%;
}



