.grid {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    /* width: 100%; */
    overflow: scroll;
}
.grid-row {
    display: flex;
    flex-direction: column;
}
.grid-cell {
    border: 0.25px solid #4d145f;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.4vw;
    height: 18px;
    text-align: center;
    padding: 10px;
    font-weight: 300;
}

.agg-cell{
    border: 0.5px solid #4d145f;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.4vw;
    height: 18px;
    text-align: center;
    padding: 10px;
    font-weight: 300;
    background: lighten(white,30%);
    cursor: pointer;
    /* background-color:  #A98DE2; */
}
.date-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: bold;
    height: 4%;
}
.avail-container{
    position: relative;
    background-color: white;
    z-index: 100;
}

.available-wrapper{
    position: absolute;
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    z-index: 3;
    background-color: white;
    border-radius: 6px;
}
.avails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.unavails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.avail-container{
    position: relative;
    background-color: white;
    z-index: 100;
}

.available-wrapper{
    position: absolute;
    display: flex;
    width: 18vw;
    justify-content: space-between;
    z-index: 3;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.avails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.unavails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-left: rgb(101, 80, 147) 0.5px solid;
}

.avails h1, .unavails h1 {
    background-color: rgb(101, 80, 147);
    color: white;
    /* padding: 3px 6px; */
    width: 100%;
    box-shadow: #4d145f;
    text-align: center;

}

.avails, .unavails {
    width: 9vw;
}
.grid-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 2%;
}
.gridheader{
    font-size: 28px;
}