.grid {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    /* width: 100%; */
}
.grid-row {
    display: flex;
    flex-direction: column;
}
.grid-cell {
    border: 0.25px solid #4d145f;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.4vw;
    height: 18px;
    text-align: center;
    padding: 10px;
    font-weight: 300;
}

.agg-cell{
    border: 0.5px solid #4d145f;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.4vw;
    height: 18px;
    text-align: center;
    padding: 10px;
    font-weight: 300;
    background: lighten(white,30%);
    cursor: pointer;
    /* background-color:  #A98DE2; */
}
.date-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: bold;
    height: 3%;
}
.avail-container{
    position: relative;
    background-color: white;
    z-index: 100;
}

.available-wrapper{
    position: absolute;
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    z-index: 3;
    background-color: white;
}
.avails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.unavails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.avail-container{
    position: relative;
    background-color: white;
    z-index: 100;
}

.available-wrapper{
    position: absolute;
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    z-index: 3;
    background-color: white;
}
.avails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.unavails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}