.schedule-users-container {
    display: flex;
    flex-direction: column;
    width: 15vw;
    padding: 20px;
    border: 1px #888688 solid;
    border-radius: 25px;
    /* margin: 20px; */
    background-color: rgba(215, 228, 230, 0.383);
    border: none;
    height: 80vh;
    box-sizing: border-box;
}

.schedule-users-splitter {
    display: flex;
    flex-direction: row;
}

hr {
    background-color: #888688;
    flex-grow: 1;
    border: none;
    height: 1px;
}

.schedule-users-splitter-text {
    padding: 0 20px;
    margin-bottom: 10px;
    font-weight: 200;
}

.schedule-users-header-text {
    font-size: 19px;
    font-weight: 400;

}

.schedule-label {
    padding-top: 10px;
    font-weight: 200;
}

.schedule-input {
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    border:none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 200;
    padding: 10px;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.create-schedule-button, .user-button {
    margin: 10px 0 ;
    width: 100%;
    padding: 10px;
    font-weight: 300;
    background-color: transparent;
    border-radius: 6px;
    font-size: 20px;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.schedule-users-buttons-container {
    overflow-y: scroll;
    background-attachment: scroll;
}