.calendar {
    margin: 0 auto;
    width: 200px;
    border: 1px solid black;
}

.header, .days, .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none; /* Disable text selection */
}

.disabled {
    color: #ddd;
}

.selected {
    background-color: greenyellow;
}

.dragged {
    background-color: lightblue;
}